<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <!-- 配置控制台的日志输出 -->
    <appender name="consoleInfoLog" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 输出格式 -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- PatternLayout 类参数 -->
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 配置文件输出 -->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤条件 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!--
            过滤行为选择：
                DENY: 拒绝
                NEUTRAL: 中立
                ACCEPT: 接收
            -->
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy:MM:dd HH:mm:ss} - %msg%n
            </pattern>
        </encoder>
        <!-- 配置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>/var/log/tomcat/wechat/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤条件 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy:MM:dd HH:mm:ss} - %msg%n
            </pattern>
        </encoder>
        <!-- 配置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>/var/log/tomcat/wechat/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>
    <!-- 指定在info级别下要使用的日志 -->
    <root level="info">
        <appender-ref ref="consoleInfoLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>
</configuration>